@tailwind base;
@tailwind components;
@tailwind utilities;


.slide-in-left {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.slide-out-left {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

#header {
  transform: translateY(90deg);
}

/* Hides scrollbar for a cleaner look */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-transition {
  transition: transform 0.5s ease-in-out;
}

.carousel-scroll {
  scroll-behavior: smooth;
}

/* Smooth scrolling and hidden scrollbar for horizontal carousel */
.carousel-scroll {
  scroll-behavior: smooth;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar */
.carousel-scroll::-webkit-scrollbar {
  display: none;
}

.slide-in-left {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.slide-out-left {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

/* Hides scrollbar for a cleaner look */
.carousel::-webkit-scrollbar {
  display: none;
}
/* Custom green shadow for the breadcrumb text */
.breadcrumb-shadow {
  text-shadow: 2px 2px 5px rgba(0, 128, 0, 0.7);
}
 /* Responsive breadcrumb background image */
 .breadcrumb-bg {
  background-image: url('https://images.unsplash.com/photo-1599307690923-8ffea24780e0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  /* Ensures full width */
}

/* Light green overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 38, 15, 0.758);
  z-index: 1;
}

/* Breadcrumb text above the overlay */
.breadcrumb-content {
  position: relative;
  z-index: 2;
}